## Mongo Db with Python - Querying JSON Documents

In [2]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
empinfo = mydb.employeeinformation

In [3]:
record = {
    'firstname':'Darshit',
    'lastname':'Joshi',
    'department':'Analytics',
    'qualification':'BE',
    'age':29
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('6697b342477c1c4134857f83'), acknowledged=True)

In [4]:
record = [{
    'firstname':'John',
    'lastname':'Doe',
    'department':'Analytics',
    'qualification':'BE',
    'age':29},
    {
    'firstname':'John',
    'lastname':'Smith',
    'department':'Analytics',
    'qualification':'masters',
    'age':35
    },
    {
    'firstname':'Manish',
    'lastname':'Sen',
    'department':'Analytics',
    'qualification':'phd',
    'age':34
    },
    {
    'firstname':'Ram',
    'lastname':'Singh',
    'department':'Analytics',
    'qualification':'master',
    'age':32
    }]

In [6]:
empinfo.insert_many(record)

InsertManyResult([ObjectId('6697b4b7477c1c4134857f84'), ObjectId('6697b4b7477c1c4134857f85'), ObjectId('6697b4b7477c1c4134857f86'), ObjectId('6697b4b7477c1c4134857f87')], acknowledged=True)

In [9]:
## Simple way of Querying
empinfo.find_one()   #by default 1st document present in Employee database will be fetched

{'_id': ObjectId('6697b0669e14e265dc571bf7'),
 'firstname': 'Darshit',
 'lastname': 'Joshi',
 'department': 'Anakytics'}

In [16]:
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('6697b342477c1c4134857f83'), 'firstname': 'Darshit', 'lastname': 'Joshi', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6697b4b7477c1c4134857f84'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6697b4b7477c1c4134857f85'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 35}
{'_id': ObjectId('6697b4b7477c1c4134857f86'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6697b4b7477c1c4134857f87'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [18]:
## Query the json document based on equality condition
for record in empinfo.find({"firstname":"Darshit"}):
    print(record)

{'_id': ObjectId('6697b342477c1c4134857f83'), 'firstname': 'Darshit', 'lastname': 'Joshi', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [20]:
## Query documents using query operators($in, $lt, $gt)   lt means less than , gt mean greater than 
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('6697b4b7477c1c4134857f86'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6697b4b7477c1c4134857f87'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [25]:
## Combination of And and Query Operators   
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('6697b4b7477c1c4134857f87'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [33]:
## Or operation
for record in empinfo.find({'$or':[{'firstname':'Darshit'}, {'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('6697b342477c1c4134857f83'), 'firstname': 'Darshit', 'lastname': 'Joshi', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('6697b4b7477c1c4134857f87'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [35]:
inventory=mydb.inventory

In [36]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [37]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('6697bb47477c1c4134857f88'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}