## MongoDB Aggregate And Group

1. avg
2. sum
3. project

In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('6697ed981ee46b05bcf24dbe'), ObjectId('6697ed981ee46b05bcf24dbf'), ObjectId('6697ed981ee46b05bcf24dc0'), ObjectId('6697ed981ee46b05bcf24dc1'), ObjectId('6697ed981ee46b05bcf24dc2'), ObjectId('6697ed981ee46b05bcf24dc3')], acknowledged=True)

In [6]:
agg_result = collection.aggregate(
      [{
          "$group":
          {
              "_id":"$user",
              "Total Subject" : {"$sum" : 1}
          }
      }])

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [9]:
## calculate total score based on result
agg_result = collection.aggregate(
    [{
        "$group":
        {
            "_id":"$user",
            "Total Sum":{"$sum":"$score"}
        }}])
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Sum': 250}
{'_id': 'Amit', 'Total Sum': 235}

In [10]:
## calculating the average score
agg_result = collection.aggregate(
    [{
        "$group":
        {
            "_id":"$user",
            "Student Avg":{"$avg":"$score"}
        }}])
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Student Avg': 83.33333333333333}
{'_id': 'Amit', 'Student Avg': 78.33333333333333}

In [14]:
import datetime as datetime

In [20]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.now()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.now() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.now() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.now() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.now() }]

In [21]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 7, 17, 22, 8, 59, 939287)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 7, 17, 22, 8, 59, 939287)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 7, 17, 22, 8, 59, 939287)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 17, 22, 8, 59, 939287)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 7, 17, 22, 8, 59, 939287)}]

In [22]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [23]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}

In [24]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [25]:
# Access collection of the database  
collection=mydatabase['Books']

In [26]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [27]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}